@import '../../scss-setings/vars.scss';

.pagination {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-bottom: 30px;
}

.item {
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.btn {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border: 1px solid #E5E5E5;
  color: $black;
  transition: background-color 0.3s ease-in;
  &:hover {
    transition: background-color 0.3s ease-in;
    background-color: #E5E5E5;
  }
} 

.active {
  transition: background-color 0.3s ease-in;
  background-color: $green;
  border-color: $green;
  color: $white;
  &:hover {
    background-color: $green;
  }
}