@import "../../scss-setings/vars.scss";

.page-item {

  padding: 200px 0;
  &__article {
    display: flex;
    @media screen and (max-width: 770px) {
      flex-direction: column;
    }
  }

  &__info {
     width: 45%;
     @media screen and (max-width: 770px) {
      width: 100%;
      text-align: center;
      .sizes {
        justify-content: center;
      }
    }

  }

  .message {
    font-size: 34px;
    text-align: center;
  }

  &__title {
    font-size: 29px;
    color: $black;
    margin-bottom: 20px;
    display: block;
    font-weight: 600;
  }

  &__desc {
    margin-bottom: 20px;
  }

  &__price {
    font-weight: 700;
    color: $green;
    font-size: 22px;
    @media screen and (max-width: 770px)  {
      margin-bottom: 14px;
      display: block;
    }
  }

  &__btn {
    border: 1px solid $green;
    color: $green;
    font-weight: 600;
    padding: 4px 20px;
    border-radius: 5px;
    @media screen and (max-width: 770px)  {
      width: 170px;
    }
  }
  &__btn--active {
    background-color: $green;
    color: $white;
  }
   
}