@import '../scss-setings/vars.scss';


.header {
  padding: 25px;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}