@import '../scss-setings/vars.scss';


.header {
  padding: 25px;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white;
  
  &--black {
    background-color: rgba($black, 0.9);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-right: 30px;
  }

  &__search {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    width: 30px;
    height: 30px;
  }

  &__icon {
    margin: auto;
    width: 23px;
    height: 20px;
    display: block;
  }

  &__icon-basket {
    margin-right: 20px;
    position: relative;
  }

  &__count {
    position: absolute;
    top: -2px;
    right: -10px;
    background-color: #46a358;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 11px;
  }
}