@import "../../../../scss-setings/vars.scss";

.card {
  width: 100%;
  position: relative;
  overflow: hidden;

  &__photo {
    width: 100%;
    display: flex;
    height: 300px;
    margin-bottom: 10px;
    position: relative;
    background-color: #fbfbfb;
  }

  &__photo--green {
    &::after{
      position: absolute;
      inset: 0;
      z-index: 10;
      content: '';
      height: 100%;
      background-color: rgba($green, 0.2);
    }
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: auto;
    @media screen and (max-width: 540px) {
      object-fit: contain;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  &__new,
  &__sale {
    position: absolute;
    padding: 3px 7px;
    background-color: $green;
    top: 10px;
    left: 0;
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
  }

  &__sale {
    left: auto;
    right: 0;
    background-color: rgb(250, 64, 64);
  }

  &__title {
    display: block;
    margin-bottom: 10px;
    padding-left: 10px;
    font-weight: 600;
    font-size: 20px;
  }
  &__new-price {
    color: $black;
    margin-right: 5px;
    padding: 2px;
    font-weight: 600;
  }

  &__old-price-line {
    text-decoration: line-through;
    background-color: rgb(250, 64, 64);
    padding: 2px;
  }
  
  &__icons {
    background-color: rgba($black, 0.8);
    position: absolute;
    z-index: 19;
    display: flex;
    inset: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in;
  }

  &__icon {
    width: 40px;
    height: 40px;
    display: flex;

    &:hover {
      .card__svg {
        fill: $green;
      }
    }

    &--active {
      background-color: $green;
      .card__svg {
        fill: $white;
      }
      
      &:hover {
        .card__svg {
          fill: $white;
          rect {
            fill: $white;
          }
        }
      }
    }
  }

  &__svg {
    margin: auto;
    width: 26px;
    height: 26px;
    fill: $white;
    transition: fill 0.3s ease;
    rect {
      fill: $white;
    }
  }

  &::after {
    position: absolute;
    content: '';
    z-index: 10;
    height: 3px;
    width: 100%;
    background-color: transparent;
    left: 0;
    top: 0;
    transition: background-color 0.3s ease-in;
  }

  &:hover {
    &::after {
      background-color: $green;
    }
    .card__icons {
      opacity: 1;
      visibility: visible;
    }
    .card__link {
      transition: transform 0.3s ease-in;
      transform: translateX(0);
      z-index: 55;
    }
  }

  &__link {
    position: absolute;
    background-color: $green;
    letter-spacing: 3px;
    color: $white;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding: 6px;
    transform: translateX(-120%);
    transition: transform 0.3 ease-in;
  }

}