@import "../../../../scss-setings/vars.scss";

.cards {
  width: 67%;
  // height: 400px;
  // background-color: tan;
  @media screen and (max-width: 1220px) {
    width: 72%;
  }
  @media screen and (max-width: 720px) {
    width: 100%;
  }
  &__list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 0;
    @media screen and (max-width: 1220px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 540px) {
      grid-template-columns: repeat(1, 1fr);
    }
    // @media screen and (max-width: 720px) {
    //   grid-template-columns: repeat(1, 1fr);
    // }
  }

  &__error {
   grid-column: 1/12;
   padding: 100px 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 22px;
   color: $black;

   p, span {
    display: block;
    margin-bottom: 20px;
   }

   div {
     font-size: 50px;
   }

  }


}