@import "../../scss-setings/vars.scss";

.basket {
  padding: 200px 0;
  min-height: 100vh;
  position: relative;

  &__container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 895px) {
      flex-direction: column;
    }
  }

  &__left  {
    width: 65%;
    margin-right: 10px;
    @media (max-width: 895px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;    
    }
  }

  &__right {
    width: 30%;
    @media (max-width: 895px) {
      width: 100%;
      padding: 20px;
    }
  }

  &__submit {
    background-color: $green;
    width: 100%;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
    font-weight: 700;
    color: $white;
    transition: background-color 0.3s ease-in;
    &:hover {
      background-color: rgba($green, 0.7);
    }
  }

  &__top {
    border-bottom: 1px solid $green;
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 20px;
     @media (max-width: 720px) {
      display: none;
     }
  }

  &__top-item {
    font-weight: 600;
    width: calc(100% / 5);
    &:last-child {
      width: 10%;
    }
    &:first-child {
      width: 30%;
    }
  }

  &__empty {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 65%;
    height: 50%;
   
  }

  &__title {
    font-weight: 600;
  }

  &__coupon {
    font-weight: 400;
    color: #3D3D3D;
    display: block;
    margin-bottom: 4px;
  }

  &__input {
    display: flex;
    margin-bottom: 10px;
    height: 40px;
    input {
      width: 70%;
      outline: transparent;
      padding-left: 5px;
      border: 1px solid $green;
      transition:  box-shadow 0.3s ease-in;
      &::placeholder {
        color: #3d3d3d;
        font-size: 14px;
      }
      &:focus {
        box-shadow:  inset 2px 0px 9px $green;
      }
    }
  }
  
  &__apply {
    color: $white;
    font-weight: 500;
    width: 30%;
    background-color: $green;
    transition: background-color 0.3s ease-in;
    &:hover {
      background-color: rgba($green, 0.7);
    }
  }

  &__list {
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    color: #3D3D3D;
  }
  
  &__price {
    color: #3D3D3D;
    font-weight: 500;
    font-size: 18px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
  }
  
  &__total {
    color: #3D3D3D;
    font-weight: 700;
    font-size: 16px;
  }

  &__sumprice {
    font-weight: 700;
    color: $green;
    font-size: 18px;

  }

  .basket-cards {
    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      @media (max-width: 720px) {
        flex-direction: column;
        margin-bottom: 20px;
      }
      @media (max-width: 720px) {
        border: 1px solid $green;
        padding: 20px;
        position: relative;
      }
    }

    &__col {
      width: calc(100% / 5);
      @media (max-width: 720px) {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      &:last-child {
        width: 10%;
        @media (max-width: 720px) {
          width: 100%;
        }
      }
      &:first-child {
        width: 30%;
        @media (max-width: 720px) {
          width: 100%;
        }
      }
    }

    &__photo{ 
      display: flex;
      align-items: center;
      @media (max-width: 720px) {
        flex-direction: column;
        margin-bottom: 10px;
      }
    }

    &__image {
      width: 65px;
      height: 65px;
      @media (max-width: 720px) {
        width: 165px;
        height: 165px;
      }
    }

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 80%;
    }

    &__list {
      display: flex;
      @media (max-width: 720px) {
        margin-bottom: 10px;
      }
    }

    &__size {
      cursor: pointer;
      padding: 3px;
      width: 23px;
      height: 23px;
      border: 1px solid $green;
      border-radius: 50%;
      font-size: 11px;
      font-weight: 600; 
      display: flex;
      justify-content: center;
      align-items: center;
      &:not(:last-child) {
        margin-right: 4px;
      }
    }

    &__size--active {
      background-color: $green;
      color: $white;
    }

    &__icon {
      margin: auto;
      path {
        transition: stroke 0.3s ease-in;
      }
      &:hover path {
        stroke: $red;
      }
      @media (max-width: 720px) {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }

    &__price {
      @media (max-width: 720px) {
        margin-bottom: 10px;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
      }
    }
    &__counter,
    &__total {
      @media (max-width: 720px) {
        margin-bottom: 10px;
      }
    }

  }



}