@import "../../../scss-setings/vars.scss";

.counter {
  display: flex;
  align-items: center;

  &__btn {
    width: 30px;
    height: 30px;
    font-size: 22px;
    background-color: $green;
    border-radius: 50%;
    color: $white;
    transition: background-color 0.3s ease-in;
    &:hover {
      background-color: rgba($green, 0.7);
    }
    &:disabled {
      opacity: 0.5;
      cursor: auto;
    }
  }

  &__number {
    margin: 0 10px;
    font-weight: 600;
    font-size: 22px;
  }
}